# Node modules
node_modules/

# Environment variables
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS & editor-specific files
.DS_Store
.vscode/

# Docker volumes and local data
docker-volume/
*.pid

# Build artifacts
dist/
build/

# Redis and Mongo data (if somehow mounted locally)
dump.rdb
*.sock
